*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #91a99cff;
}

/* Style Header */
.header h1{
    color: #183440ff;
    text-align: center;
}

.header p{
    font-size: 12px;
    padding-top: 0;
    text-align: center;
}
/* Style Header */

/* Style Navigation */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3c6070ff;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover{
    background-color: #183440ff;
}
/* Style Navigation */

/* Image */


